/* line 11, ../scss/style.scss */
body {
  font-family: "Helvetica", "Arial", "Sans-serif";
  color: #373737;
  width: 95%;
}

/* line 17, ../scss/style.scss */
html, body, #main {
  height: 88%;
}

/* line 21, ../scss/style.scss */
body > #main {
  height: auto;
  min-height: 100%;
}

/* line 26, ../scss/style.scss */
header {
  margin-top: 35px;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  /* line 26, ../scss/style.scss */
  header {
    margin-top: 0px;
  }
  /* line 32, ../scss/style.scss */
  header h1 {
    margin-top: 10px;
  }
}
/* line 36, ../scss/style.scss */
header h1 {
  font-size: 4.5em;
}

/* line 41, ../scss/style.scss */
#magic-whenbus {
  position: relative;
  height: 9em;
}
@media screen and (max-width: 1023px) {
  /* line 41, ../scss/style.scss */
  #magic-whenbus {
    height: 5em;
  }
}
/* line 47, ../scss/style.scss */
#magic-whenbus h1 {
  position: absolute;
  width: 100%;
}
/* line 50, ../scss/style.scss */
#magic-whenbus h1.first {
  color: #FF7A7A;
  left: -0px;
}
/* line 54, ../scss/style.scss */
#magic-whenbus h1.second {
  color: #9EF0FF;
  left: -3px;
  top: 3px;
  z-index: -1;
}
/* line 60, ../scss/style.scss */
#magic-whenbus h1.third {
  color: #94E07B;
  left: -6px;
  top: 6px;
  z-index: -2;
}

/* line 69, ../scss/style.scss */
#more {
  display: inline-block;
  font-size: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: #70E1FA;
  cursor: pointer;
  padding: 7px 5px 5px 5px;
  margin-top: 2px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}
/* line 79, ../scss/style.scss */
#more h1 {
  font-weight: normal;
}
/* line 82, ../scss/style.scss */
#more:hover {
  margin-top: 0px;
  border-bottom-width: 4px;
}

/* line 88, ../scss/style.scss */
#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -2em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #696969;
}

/* line 100, ../scss/style.scss */
#main {
  text-align: center;
  padding-bottom: 15px;
}

/* line 105, ../scss/style.scss */
#search {
  height: 30px;
  font-size: 22px;
  text-align: center;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  -moz-transition: border, 0.3s;
  -o-transition: border, 0.3s;
  -webkit-transition: border, 0.3s;
  transition: border, 0.3s;
}
/* line 112, ../scss/style.scss */
#search:focus {
  outline: none;
  border-bottom: solid 2px #969696;
}

/* line 118, ../scss/style.scss */
.fullBus {
  margin-left: 5px;
  cursor: pointer;
}

/* line 123, ../scss/style.scss */
.mini-button {
  display: inline-block;
  height: 8px;
  width: 8px;
  border: solid 2px #70E1FA;
  float: left;
  margin-top: 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-transition: background-color, 0.3s;
  -o-transition: background-color, 0.3s;
  -webkit-transition: background-color, 0.3s;
  transition: background-color, 0.3s;
  -moz-transition: border-color, 0.3s;
  -o-transition: border-color, 0.3s;
  -webkit-transition: border-color, 0.3s;
  transition: border-color, 0.3s;
}

/* line 136, ../scss/style.scss */
.selected .mini-button {
  border-color: #70E1FA;
  background-color: #70E1FA;
}
/* line 141, ../scss/style.scss */
.selected.success .mini-button {
  border-color: #94E07B;
  background-color: #94E07B;
}

/* line 148, ../scss/style.scss */
#stopsAndBuses {
  margin: 2em auto 0 auto;
  height: 10px;
  width: 50%;
}
@media screen and (max-width: 1023px) {
  /* line 148, ../scss/style.scss */
  #stopsAndBuses {
    width: 95%;
  }
}
/* line 155, ../scss/style.scss */
#stopsAndBuses h1 {
  font-size: 22px;
  text-align: center;
  font-weight: normal;
  padding-bottom: 9px;
}

/* line 163, ../scss/style.scss */
#stops {
  width: 50%;
  font-size: 18px;
  float: left;
}
/* line 167, ../scss/style.scss */
#stops .stop-name {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  cursor: pointer;
}
/* line 173, ../scss/style.scss */
#stops .stop-name .stop-name-text {
  display: block;
  padding-left: 20px;
}

/* line 180, ../scss/style.scss */
#buses {
  float: left;
  width: 50%;
}

/* line 185, ../scss/style.scss */
#bus_time_display {
  font-size: 18px;
  text-align: left;
  display: block;
}
/* line 189, ../scss/style.scss */
#bus_time_display h1 {
  padding-right: 5px;
  font-size: 48px;
  display: inline;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 196, ../scss/style.scss */
#bus_time_display h3 {
  display: inline;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 201, ../scss/style.scss */
#bus_time_display .busTime {
  font-size: 24px;
  padding-top: -10px;
  margin-top: -10px;
}
/* line 206, ../scss/style.scss */
#bus_time_display .headsign {
  display: inline;
  color: #696969;
}

/* line 214, ../scss/style.scss */
.blue {
  background-color: #70E1FA;
}

/* line 218, ../scss/style.scss */
.green {
  background-color: #94E07B;
}

/* line 222, ../scss/style.scss */
.red {
  background-color: #FF7A7A;
}

/* line 226, ../scss/style.scss */
#info {
  text-align: left;
  color: #696969;
}

/* line 231, ../scss/style.scss */
#buses #info {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 237, ../scss/style.scss */
#stop {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #FF7A7A;
  font-size: 25px;
}

/* line 244, ../scss/style.scss */
#bus {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #94E07B;
  font-size: 25px;
}
