@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/animation";

$green: #94E07B;
$lightGreen: #B1DEA2;
$red:  #FF7A7A;
$lightRed: #FFA8A8;
$blue: #70E1FA;
$lightBlue: #9EF0FF;

body {
    font-family: "Helvetica", "Arial", "Sans-serif";
    color: #373737;
    width: 95%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, #main {
  height: 88%
}

body > #main {
  height: auto;
  min-height: 100%;
}

header {
  margin-top: 35px;
  margin-bottom: 40px;
  text-align: center;
  @media screen and (max-width: 1023px) {
    margin-top: 0px;
    h1 {
      margin-top: 10px;
    }
  }
  h1 {
    font-size: 4.5em;
  }
}

#magic-whenbus {
  position: relative;
  height: 9em;
  @media screen and (max-width: 1023px) {
    height: 5em;
  }
  h1 {
    position: absolute;
    width: 100%;
    &.first {
      color: $red;
      left: -0px;
    }
    &.second {
      color: $lightBlue;
      left: -3px;
      top: 3px;
      z-index: -1;
    }
    &.third {
      color: $green;
      left: -6px;
      top: 6px;
      z-index: -2;
    }
  }
}

#more {
  display: inline-block;
  font-size: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: $blue;
  cursor: pointer;
  padding: 7px 5px 5px 5px;
  margin-top: 2px;
  @include border-radius(4px, 4px);
  h1 {
    font-weight: normal;
  }
  &:hover {
    margin-top: 0px;
    border-bottom-width: 4px;
  }
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height:3em;
  margin-top: -2em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #696969;
}

#main {
  text-align: center;
  padding-bottom: 15px;
}

#search {
  height: 30px;
  font-size: 22px;
  text-align: center;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  @include transition(border, 0.3s);
  &:focus {
    outline: none;
    border-bottom: solid 2px #969696;
  }
}

@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

#gps-button {
  cursor: pointer;
  border: 2px solid #696969;
  border-bottom-width: 3px;
  margin-left: 10px;
  margin-bottom: 1px;
  margin-top: 3px;
  padding: 3px;
  height: 20px;
  width: 20px;
  display: inline-block;
  position: absolute;
  @include border-radius(4px);
  &:hover {
    border-bottom-width: 2px;
    margin-bottom: 0px;
    margin-top: 4px;
  }
  &.search-running {
    border-bottom-width: 2px;
    margin-bottom: 0px;
    margin-top: 4px;
    #gps-button-icon {
      @include animation(spin 2s linear infinite);
    }
  }
  #gps-button-icon {
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-image: url("/images/navigation-icon.svg");
    background-repeat: no-repeat;
  }
}

.fullBus {
  margin-left: 5;
  cursor: pointer;
}

.mini-button {
  display: inline-block;
  height: 8px;
  width: 8px;
  border: solid 2px $blue;
  float: left;
  margin-top: 2px;
  @include border-radius(8px);
  @include transition(background-color, 0.3s);
  @include transition(border-color, 0.3s);
}

.selected {
  .mini-button {
    border-color: $blue;
    background-color: $blue;
  }
  &.success {
    .mini-button {
      border-color: $green;
      background-color: $green;
    }
  }
}

#stopsAndBuses {
  margin: 2em auto 0 auto;
  height: 10px;
  width: 50%;
  @media screen and (max-width: 1023px) {
    width: 95%;
  }
  h1 {
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    padding-bottom: 9px;
  }
}

#stops {
  width: 50%;
  font-size: 18px;
  float: left;
  .stop-name {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    cursor: pointer;
    .stop-name-text {
      display: block;
      padding-left: 20px;
    }
  }
}

#buses {
  float: left;
  width: 50%;
}

#bus_time_display {
  font-size: 18px;
  text-align: left;
  display: block;
  h1 {
    padding-right: 5px;
    font-size: 48px;
    display: inline;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  h3 {
    display: inline;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .busTime {
    font-size:24px;
    padding-top: -10px;
    margin-top: -10px;
  }
  .headsign {
    display: inline;
    color: #696969;
  }
  .bus_and_time {
  }
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

.red {
  background-color: $red;
}

#info {
  text-align: left;
  color: #696969;
}

#buses #info{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#stop {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: $red;
  font-size: 25px;
}

#bus {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: $green;
  font-size: 25px;
}
